
.icon-items > *{
  padding-left: 50%;
  padding-right: 50%;

}


.col-md-2 > .icon-items{
  border-bottom: solid #99ebff;

}


.col-md-2 .nav-bar-items{
  font-weight:600;
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
  color: black;
  border-bottom: solid 5px #99ebff;
  border-top:solid 5px white;

}
.col-md-2 .nav-bar-items:hover{
  border-top: solid 5px #99ebff;
  border-bottom: solid 5px white;
  color:black;

}


.height-class{
  height: 500px;

}

a{
  text-decoration: none !important;
}
